* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    .nav-contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0e2737;
        height: 50px;
        color: #fff;
        padding: 0px 55px;


        .contacts-item a {
            list-style-type: none;
            color: #fff;
            padding-right: 20px;
            font-size: 14px;
            font-weight: 400;
            line-height: 50px;
        }

        a:hover {
            color: rgb(214, 210, 210);
            transition-duration: 500ms;
        }

        .contacts-item .fa {
            color: #1cc3b2;
            padding-right: 15px;
        }

        .icon-bar {
            .fa {
                padding-left: 50px;
                color: white;
            }

            .fa:hover {
                color: #1cc3b2;
                transition-duration: 500ms;
            }
        }

    }

    .nav-menu {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 55px;
        background-color: #fff;

        .menu-logo {
            padding-top: 20px;
            width: 200px;
        }

        .menu-description {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: right;
            width: 90%;

            .menu-list {
                display: flex;
                flex-direction: row;

                .list-items a {
                    list-style-type: none;
                    color: #2a303b;
                    text-transform: capitalize;
                    padding-right: 20px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 50px;
                    padding-right: 60px;
                }

                .list-items a:hover {
                    color: rgb(214, 210, 210);
                    color: rgb(214, 210, 210);
                    transition-duration: 500ms;
                }

                .list-items-dropdown a {
                    list-style-type: none;
                    color: #2a303b;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 50px;
                    padding-right: 60px;
                }

                .list-items-dropdown a:hover {
                    color: rgb(214, 210, 210);
                    color: rgb(214, 210, 210);
                    transition-duration: 500ms;

                }

                .list-items-dropdown {

                    .dropdown-list {
                        visibility: hidden;
                        opacity: 0;
                        background-color: white;
                        position: absolute;
                        z-index: 999;
                        border-radius: 5px;

                        li {
                            width: 190px;
                            height: 50px;
                            border-bottom: 1px solid rgb(214, 210, 210);
                        }
                    }

                    .dropdown-list a {
                        list-style-type: none;
                        color: #2a303b;
                        text-transform: capitalize;
                        padding-left: 20px;
                        padding-bottom: 15px;
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .dropdown-list a:hover {
                        color: #1cc3b2;
                    }
                }

                .list-items-dropdown:hover .dropdown-list {
                    opacity: 1;
                    visibility: visible;
                }

            }

            .fa-search:hover {
                color: #1cc3b2;
                transition-duration: 500ms;
            }

            button {
                background-color: #1cc3b2;
                border: transparent;
                height: 80px;
                width: 150px;
                color: #fff;
                font-size: 16px;
                font-weight: 500;
            }

            button:hover {
                background-color: #2a303b;
                color: #fff;
                transition-duration: 500ms;
            }

            .fa-long-arrow-right {
                padding-left: 7px;
            }
        }
    }
}

#discover {
    background-image: url(https://preview.colorlib.com/theme/roberto/img/bg-img/18.jpg.webp);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 9;
    margin-bottom: 50px;

    .discover-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 35%;
        left: 25%;
        z-index: 9;

        .content-description {
            text-align: center;
            z-index: 9;

            .description-title {
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #fff;
                margin-bottom: 30px;
            }

            .description-text {
                font-size: 62px;
                margin-bottom: 30px;
                color: #fff;
            }
        }

        button {
            width: 150px;
            height: 50px;
            font-size: 16px;
            font-weight: 500;
            color: white;
            line-height: 46px;
            border: 2px solid #1cc3b2;
            background: transparent;
            z-index: 9;
            cursor: pointer;
        }

        button:hover {
            background-color: #1cc3b2;
            transition-duration: 500ms;
        }
    }

    .slide-arrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 9;
        position: relative;
        top: 42%;

        .slide-arrow-left img {
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            left: 3%;

        }

        .slide-arrow-right img {
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            left: 90%;

        }
    }

    .registration-bar {
        z-index: 9;
        width: 866px;
        height: 175px;
        background-color: #fff;
        position: relative;
        box-shadow: 0 2px 15px 1px rgb(0 0 0 / 15%);
        padding: 40px 40px 0 40px;
        border-radius: 5px;
        background-color: #ffffff;
        left: 200px;
        top: 89%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        ;

        form {

            label {
                font-size: 16px;
                padding-bottom: 10px;
                font-weight: 500;
            }

            input {
                width: 85%;
                height: 40px;
                margin-bottom: 40px;
                margin-top: 10px;
                height: 50px;
                border: 1px solid #ebebeb;
                font-size: 13px;
                padding-left: 10px;
                padding-right: 10px;
            }

            input:hover {
                border: 1px solid #1cc3b2;
            }

            input:focus {
                outline: none;
                border: 1px solid #1cc3b2;
            }

            select {
                margin-bottom: 40px;
                margin-top: 10px;
                height: 50px;
                width: 50px;
                border: 1px solid #ebebeb;
                font-size: 13px;
                padding-left: 10px;
            }

            select:hover {
                border: 1px solid #1cc3b2;
            }

            select:focus {
                border: 1px solid #1cc3b2;
            }
        }

        button {
            width: 190px;
            height: 50px;
            font-size: 16px;
            font-weight: 500;
            color: white;
            line-height: 46px;
            border: transparent;
            background: #1cc3b2;
            z-index: 9;
            cursor: pointer;
        }

        button:hover {
            background-color: #fff;
            color: #1cc3b2;
            line-height: 46px;
            border: 1px solid #ebebeb;
            transition-duration: 500ms;
            box-shadow: 3px -2px 29px -2px rgba(0, 0, 0, 0.51);
            -webkit-box-shadow: 3px -2px 29px -2px rgba(0, 0, 0, 0.51);
            -moz-box-shadow: 3px -2px 29px -2px rgba(0, 0, 0, 0.51);

        }
    }

}

#discover::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #282c34a7;
    z-index: 0;
}

#about {
    display: flex;
    justify-content: center;
    height: 737px;

    input mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 737px;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .about-description {
            margin-right: 20px;

            .description-tag {
                color: #1cc3b2;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 10px;
                font-weight: 500;
                font-size: 1rem;
            }

            .description-title {
                font-size: 35px;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 1.2;
                padding-bottom: 50px;
            }

            .description-text {
                font-size: 1.25rem;
                line-height: 1.8;
                color: #636a76;
                font-weight: 400;
                margin-bottom: 30px;
                width: 550px;

                span {
                    color: #1cc3b2;
                    padding-left: 10px;
                }

                img {
                    margin-top: 20px;
                }
            }
        }

        .about-img {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 10px;
            align-items: center;

            .img-left {

                .img-1 {
                    overflow: hidden;
                    border-radius: 6px;
                    height: 202px;
                    margin-bottom: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 6px;
                        object-fit: cover;
                        transition: transform 0.25s;
                    }
                }

                .img-1 img:hover {
                    transform: scale(1.1);
                    transition-duration: 500ms;
                }

                .img-2 {
                    overflow: hidden;
                    border-radius: 6px;
                    height: 202px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 6px;
                        object-fit: cover;
                        transition: transform 0.25s;

                    }
                }

                .img-2 img:hover {
                    transform: scale(1.1);
                    transition-duration: 500ms;
                }

            }

            .img-3 {
                overflow: hidden;
                border-radius: 6px;
                height: 420px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 6px;
                    object-fit: cover;
                    transition: transform 0.25s;

                }
            }

            .img-3 img:hover {
                transform: scale(1.1);
            }
        }


    }


}

#service {
    height: 300px;

    .service-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;



        .service-items {
            width: 188px;
            height: 146px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 2px 14px 5px rgb(20 20 20 / 5%);
            text-align: center;
            padding-top: 20px;

            p {
                font-size: 16px;
                font-weight: 500;
                padding-top: 15px;
            }

            p:hover {
                color: #1cc3b2;
                transition-duration: 500ms;
            }
        }
    }

}

#room {
    .room-content {
        display: flex;
        flex-direction: row;
        position: relative;

        .room-img img {
            width: 631px;
            height: 700px;
        }

        .room-description {
            width: 631px;
            height: 700px;
            background-color: #0e2737;
            padding-left: 80px;
            padding-top: 90px;
            margin-bottom: 40px;

            p:first-child {
                font-size: 48px;
                color: #fff;
                margin-bottom: 15px;
            }

            span {
                color: #1cc3b2;
                font-size: 36px;
                margin-bottom: 25px;
            }

            p {
                font-size: 16px;
                color: #fff;
            }

            .inclusions {
                font-size: 16px;
                color: #fff;
                margin-top: 50px;
                margin-bottom: 60px;

                li {
                    margin-bottom: 20px;
                }

                .fa {
                    padding-right: 10px;
                }
            }

            button {
                width: 190px;
                height: 50px;
                font-size: 16px;
                font-weight: 500;
                color: white;
                line-height: 46px;
                border: transparent;
                background: #1cc3b2;
                z-index: 9;
                cursor: pointer;
            }

            button:hover {
                background-color: #fff;
                color: #1cc3b2;
                line-height: 46px;
                border: 1px solid #ebebeb;
                transition-duration: 500ms;
            }
        }
    }

    .room-navigation {
        position: absolute;
        display: flex;
        top: 88%;
        left: 39.7%;

        .navigation-previous {
            button {
                width: 130px;
                height: 50px;
                font-size: 16px;
                font-weight: 500;
                color: #000;
                line-height: 46px;
                border: transparent;
                background: #fff;
                z-index: 9;
                cursor: pointer;
            }

            button:hover {
                color: #fff;
                background: #1cc3b2;
                transition-duration: 500ms;
            }
        }

        .navigation-next {
            button {
                width: 130px;
                height: 50px;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                line-height: 46px;
                border: transparent;
                background: #1cc3b2;
                z-index: 9;
                cursor: pointer;
            }

            button:hover {
                background-color: #2a303b;
                transition-duration: 500ms;
            }
        }
    }
}

#testimonials {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 648px;

    .testimonials-content {
        display: flex;
        flex-direction: row;
    }

    .content-img img {
        width: 525px;
        height: 428px;
        border-radius: 6px;
    }

    .content-description {
        padding-left: 50px;

        .description-tag {
            color: #1cc3b2;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 10px;
            font-weight: 500;
            font-size: 1rem;
        }

        .description-title {
            font-size: 35px;
            font-weight: 600;
            text-transform: capitalize;
            line-height: 1.2;
            padding-bottom: 50px;
        }

        .description-text {
            font-size: 1.25rem;
            line-height: 1.8;
            color: #636a76;
            font-weight: 400;
            margin-bottom: 30px;
            width: 550px;
        }
    }

    .rating-title {
        h6 {
            font-size: 1em;
            line-height: 1.3;
            font-weight: 500;
            color: #2a303b;
            padding-top: 20px;

            span {
                color: #1cc3b2;
            }
        }

        .rating {}

        .fa {
            color: #f5b917;
            font-size: 14px;
            line-height: 1;
        }
    }

    .dots-list {
        display: flex;
        margin-top: 70px;

        .dot-active {
            background-color: #1cc3b2;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }

        .dot {
            background-color: #c0c8d7;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}

#entertaiment {
    .entertaiment-content {
        .content-list {
            display: flex;
            flex-direction: row;

            .content-item {
                position: relative;
                z-index: 99999;
                height: 800px;
                width: 421px;
                overflow: hidden;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
                border-left: 1px solid rgba(255, 255, 255, 0.2);
                cursor: pointer;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                &:hover .item-description-overlay {
                    top: 62.5%;
                }
            }

            .item-description {
                display: flex;
                position: absolute;
                align-items: left;
                flex-direction: column;
                justify-content: center;
                width: 421px;
                height: 100px;
                bottom: 0;
                left: 0;
                overflow: hidden;
                z-index: 10;
                padding: 0 30px;
                background-color: rgba(0, 0, 0, 0.3);
                color: #fff;
                line-height: 1;
                font-weight: 500;
                font-size: 1rem;

                span {
                    font-size: 1.25rem;
                }
            }

            .item-description-overlay {
                position: absolute;
                top: 100%;
                background-color: #1cc3b2;
                z-index: 100;
                transition-duration: 800ms;
                opacity: 1;
                border: none;

                .overlay-text {
                    height: 200px;
                    padding: 20px 30px;

                    p {
                        color: #fff;
                        line-height: 1;
                        font-weight: 500;
                        font-size: 1rem;
                        padding-top: 10px;
                    }

                    span {
                        color: #fff;
                        font-size: 1.25rem;
                    }

                }

                .description-overlay-btn {
                    font-size: 16px;
                    padding: 0 30px;
                    display: block;
                    background-color: #0e2737;
                    border-radius: 0;
                    color: #fff;
                    text-align: left;
                    font-weight: 500;
                    height: 100px;
                    width: 100%;
                    line-height: 100px;
                    cursor: pointer;
                }
            }
        }
    }
}



#blog {
    .blog-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 796px;

        .content-description {
            text-align: center;

            .description-tag {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.3;
                text-transform: uppercase;
                color: #1cc3b2;
                letter-spacing: 2px;
                margin-bottom: 10px;
            }

            .description-title {
                font-size: 42px;
                font-weight: 500;
                color: #2a303b;
                text-transform: capitalize;
                line-height: 1.2;
            }
        }

        .description-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 35px;
            padding: 0px 50px;
            margin-top: 50px;

            .list-items {
                position: relative;
                top: 0;
                transition: top ease 0.5s;

                .items-img img {
                    width: 349px;
                    height: 243px;
                    margin-bottom: 20px;
                    cursor: pointer;
                }

                .items-tag {
                    display: flex;
                    flex-direction: row;
                    padding-bottom: 15px;

                    p {
                        z-index: 1;
                        font-size: 14px;
                        font-weight: 500;
                        color: #afb4bf;
                        margin-right: 30px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        cursor: pointer;
                    }

                    p:hover {
                        color: #1cc3b2;
                    }

                    span {
                        color: #1cc3b2;
                        z-index: 1;
                        font-size: 14px;
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        cursor: pointer;
                    }
                }

                .items-title {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    margin-bottom: 15px;
                    color: #2a303b;
                    cursor: pointer;
                }

                .items-title :hover {
                    color: #1cc3b2;
                    transition-duration: 500ms;
                }

                .items-text {
                    width: 349px;
                    height: 81px;
                    color: #636a76;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.7;
                    margin-bottom: 15px;
                }
            }

            .list-items:hover {
                top: -10px;
            }

            .items-arrow-icon {
                .fa {
                    cursor: pointer;
                    color: #afb4bf;
                    font-size: 16px;
                    text-transform: capitalize;
                }

                .fa:hover {
                    color: #000;
                }
            }
        }
    }
}

#contact-us {
    height: 177px;
    margin: 50px 50px;
    background-image: url(https://preview.colorlib.com/theme/roberto/img/bg-img/1.jpg.webp);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 9;

    .contact-us-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 40px 0px;
        z-index: 9;

        .content-description {
            z-index: 9;

            p {
                color: #fff;
                font-size: 36px;
                margin-bottom: 10px;
                line-height: 1.3;
                font-size: 500;
                z-index: 9;
            }

            span {
                color: #fff;
                line-height: 1.3;
                font-size: 500;
                font-size: 1rem;
                z-index: 9;
            }
        }

        .contact-btn {
            margin-top: 15px;
            z-index: 9;

            button {
                background-color: #1cc3b2;
                border: transparent;
                height: 46px;
                width: 184px;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }

            button:hover {
                background-color: #fff;
                color: #1cc3b2;
                transition-duration: 500ms;
            }
        }
    }

}

#contact-us::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #282c34a7;
    z-index: 0;
}

#projects {

    .projects-content {
        height: 70px;
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        margin-bottom: 50px;
        gap: 200px;

        .content-item {
            img {
                width: 70px;
                height: 60px;
                vertical-align: middle;
            }
        }
    }
}

.footer {
    .footer-area {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        z-index: 1;
        background-color: #0e2737;
        padding-top: 90px;
        padding-left: 50px;
        height: 396px;

        .footer-contacts {
            .logo {
                vertical-align: middle;
                margin-bottom: 20px;
                cursor: pointer;
            }

            h4 {
                color: #1cc3b2;
                line-height: 1.3;
                font-weight: 500;
                font-size: 1.5rem;
                margin-bottom: 20px;
            }

            p {
                color: #afb4bf;
                font-size: 14px;
                margin-bottom: 10px;
                width: 255px;
            }
        }

        .blog-content {
            display: flex;
            flex-direction: column;

            h5 {
                font-size: 22px;
                color: #fff;
                margin-bottom: 25px;
                text-transform: capitalize;
                line-height: 1.3;
                font-weight: 500;
            }

            .blog-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 25px;

                a {
                    text-decoration: none;
                    list-style-type: none;
                    color: #fff;
                    font-size: 16px;
                    margin-bottom: 5px;
                    font-weight: 400;
                }

                a:hover {
                    color: #1cc3b2;
                    transition-duration: 500ms;
                }

                span {
                    color: #afb4bf;
                    font-size: 14px;

                }

                .fa {
                    color: #afb4bf;
                    padding-right: 4px;
                }
            }
        }

        .footer-links {
            h5 {
                font-size: 22px;
                color: #fff;
                margin-bottom: 25px;
                text-transform: capitalize;
                line-height: 1.3;
                font-weight: 500;
            }

            .list {
                .links-list {
                    .links-item {
                        margin-bottom: 10px;

                        a {
                            color: #636a76;
                            text-decoration: none;
                            list-style-type: none;
                            font-size: 14px;
                            font-weight: 400;
                            text-transform: capitalize;
                        }

                        a:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .footer-subscribe {

            h5 {
                font-size: 22px;
                color: #fff;
                margin-bottom: 25px;
                font-weight: 500;
            }

            p {
                color: #afb4bf;
                font-size: 14px;
                margin-bottom: 10px;
                width: 349px;
            }

            form {
                position: relative;
                z-index: 1;
                margin-top: 30px;

                input {
                    width: 349px;
                    height: 46px;
                    background-color: #3e525f;
                    border-radius: 30px;
                    padding: 0 20px;
                    color: #fff;
                    font-size: 14px;
                    border: none;
                }

                input:focus {
                    outline: none;
                    border: none;
                }

                button {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: none;
                    top: 3px;
                    right: 3px;
                    color: #fff;
                    background-color: #1cc3b2;
                    cursor: pointer;
                    transition-duration: 500ms;
                }

                button:hover {
                    background-color: #0e2737;
                }
            }
        }
    }

    .footer-copyright {
        background-color: #0e2737;
        border-top: 1px solid #273d4b;

        .copyright-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 55px;
            padding: 20px 80px;

            .copyright-text {

                p {
                    font-size: 14px;
                    color: #afb4bf;
                    font-weight: 400;
                    line-height: 1.7;
                }

                p a {
                    font-size: 14px;
                    font-weight: 600;
                    color: #afb4bf;
                    line-height: 1.7;
                }

                p a:hover {
                    color: #fff;
                    transition-duration: 500ms;
                }
            }

            .social-media {
                a .fa {
                    color: #afb4bf;
                    padding-left: 20px;
                }

                a .fa:hover {
                    color: #fff;
                    transition-duration: 500ms;
                }
            }
        }
    }
}

#scrollUp {
    display: block;
    background-color: #1cc3b2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 2147483647;
}

#scrollUp:hover {
    cursor: pointer;
    background-color: #333;
    transition-duration: 500ms;
}

#scrollUp:active {
    background-color: #555;
}